@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-group > input[type="radio"]:checked.btn.error {
  @apply bg-error;
  @apply border-error;
}

.btn-group > input[type="radio"]:checked.btn.success {
  @apply bg-success;
  @apply border-success;
}

.leading-12 {
  line-height: 3rem;
}

.markdown-fixes p {
  margin: 10px 0;
}

.markdown-fixes pre,
.markdown-fixes p > code {
  @apply rounded-lg;
  @apply bg-base-300;
  @apply overflow-y-auto;
  @apply text-sm;
  padding: 2px 5px;
}

.markdown-fixes a {
  @apply text-primary;
  @apply underline
}

.markdown-fixes pre {
  @apply p-3;
}

.markdown-fixes h1 {
  @apply font-bold;
  @apply text-xl;
}

.markdown-fixes h2 {
  @apply font-bold;
  @apply text-base;
}

.markdown-fixes ul {
  list-style-type: square;
  list-style-position: outside;
}

.markdown-fixes li {
  @apply ml-10;
}

/* this is here because ios is kinda dumb and there's
a "swipe up from bottom" bar that blocks the navbar
on mobile at the bottom */
.webkit-only-padding {
  -webkit-padding-after: 7rem;
}
